# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: Python application

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  build:

    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python 3.13.5
      uses: actions/setup-python@v3
      with:
        python-version: "3.13.5"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install flake8 pytest
        if (Test-Path "requirements.txt") {
        pip install -r requirements.txt
        }
    - name: Lint with flake8
      run: |
        # stop the build if there are Python syntax errors or undefined names
        flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
        # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
        flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics
    - name: Test with pytest
      run: |
        pytest 
    # ...existing code...
  deploy:
      needs: build
      runs-on: windows-latest
      if: github.ref == 'refs/heads/main' && github.event_name == 'push'

      steps:
        - name: checkout code for deployment
          uses: actions/checkout@v4
        - name: Deploy to Production Server 

        run: |
          echo "Starting deployment to Production Server"
          #ssh prod@prodserver 'cd /path/to/app && git pull && systemctl restart app.service'
          echo "Deployment to Production Server completed"
  # ...existing code...